defaults: &defaults

  # Rails Config
  secret_key_base: '50abd4a5170d0901d52c30556768a8e503d1d2439cca79ef4013e0d35758fa802a1094a9a45812e51ae36eedf0bb7afad4dd48d194e48a488504b306fe79d505'

  # Redis
  redis_url: redis://localhost:6379

  # Original Rack::Cors Configuration
  # TODO: document env vars required for Rack::Cors

development:
  <<: &defaults

test:
  <<: &defaults

staging:
  <<: &defaults

production:
  <<: &defaults