<!DOCTYPE html>
<html ng-app="app">
<head>
  <script type="text/javascript">
    apiUrl = "<%= "//#{request.host_with_port}" %>";
  </script>


  <title>Appistack</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "lineman/app", media: :all %>
  <link rel="icon" type="image/png" href="/img/favicon.ico"/>

</head>
<body ng-cloak>

  <div class="navbar navbar-inverse navbar-fixed-top" navbar-widget></div>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span3" sidebar-widget>

      </div>
      <!--/span -->

      <div id="view" class="span9" ui-view></div>

    </div>
    <!--/.row-fluid -->
    <footer><p>&copy; Company 2013</p></footer>
  </div>
  <!--/.container-fluid -->

  <%= javascript_include_tag "lineman/app" %>
</body>
</html>
